<mat-form-field
  class="p-0"
  [class.w-100]="!width"
  [style.width]="width || 'unset'">
  <mat-label><i *ngIf="icon" class="mr-1 bi" [class]="icon"></i>{{label}}</mat-label>
  <input type="text"
         autofocus
         matInput
         #input
         #trigger="matAutocompleteTrigger"
         [matAutocomplete]="auto"
         [(ngModel)]="searchTerm"
         [placeholder]="placeholder"
         (keyup)="keyup($event)"
         (focus)="registerMe()"
         [disabled]="disabled"
         [formControl]="required ? ctrl : ctrlVoid"
         [required]="required">
  <mat-error *ngIf="required && ctrl.invalid">bitte {{label}} eingeben</mat-error>
  <i *ngIf="searchTerm" class="bi bi-x position-absolute" style="right: 0; bottom: 7px"
     (click)="!disabled ? reset(true) : 0" tabindex="-1"></i>

  <mat-autocomplete
    autoActiveFirstOption
    #auto="matAutocomplete"
    id="autocomplete"
    [panelWidth]="'unset'"
    (contextmenu)="$event.stopPropagation()"
    (focusout)="autocomplete.closePanel()">
    <!-- the purple ones -->
    <mat-option class="messenger-option" *ngFor="let messenger of messengerOptions.concat(dispatcherOptions)"
                [value]="keepMessName ? messenger.nickname : ''"
                (onSelectionChange)="_messengerSelected(messenger)">
      {{ messenger.nickname }}
    </mat-option>
    <!-- the black ones -->
    <mat-option class="client-client-option" *ngFor="let client of (clientclientOptions)"
                [value]="client.name + ', ' + client.clientId"
                (onSelectionChange)="_clientClientSelected(client)">
      <small><strong>{{client.name}}</strong></small>
      <small>{{client.street + ', ' + client.zipCode + ' ' + client.city}}</small>
      <small>{{client.clientId}}</small>
    </mat-option>
    <!-- the green ones -->
    <mat-option class="job-option"
                style="width: 300px"
                *ngFor="let job of jobOptions"
                (onSelectionChange)="_jobSelected(job)"
                [value]="job.center.name"
                (contextmenu)="$event.stopPropagation()">
      <div class="mb-2 ml-4"><small><strong>{{job.name}}</strong></small></div>
      <div class="flex flex-row justify-content-between align-items-center">
        <small class="mr-2 w-80 flex-column text-truncate">
          <p class="flex flex-row align-items-center" style="margin: unset" *ngFor="let station of job.pickups">
            <i class="bi bi-arrow-left-short toBottom"></i>
            {{station.name || station.address}}
          </p>
          <p class="flex flex-row align-items-center" style="margin: unset" *ngFor="let station of job.deliveries">
            <i class="bi bi-arrow-right-short toBottom"></i>
            {{station.name || station.address}}
          </p>
        </small>
        <div *ngIf="job.cargoType > 0" class="mr-2 flex align-items-center">
          <img *ngIf="job.cargoType === 1"
               src="../../../../../assets/cargo/last.png"
               alt="lastzuschlag"
               width="20px">
          <img *ngIf="job.cargoType === 2"
               src="../../../../../assets/cargo/lastenrad.png"
               alt="lastenrad"
               width="35px">
          <img *ngIf="job.cargoType === 3"
               src="../../../../../assets/cargo/carla.png"
               alt="e-lastenrad + anhänger"
               width="45px">
        </div>
        <small *ngIf="job.distributeNumber > 0" class="mr-2">{{job.distributeNumber}} abgaben</small>
        <span *ngIf="!job.clientInvolved"><i class="mr-2 bi bi-person-x"></i></span>
        <span style="font-family: monospace" class="mr-2">{{job.price._netto}}</span>
        <span *ngIf="job.connection" style="font-family: monospace" class="mr-2"> (Anschluss)</span>
      </div>
    </mat-option>
    <!-- the red ones -->
    <mat-option class="client-option" *ngFor="let location of clientOptions"
                (onSelectionChange)="searching = searching + 1; _clientSelected(location)"
                [value]="location.name">
      <small><strong>{{ location.name }}</strong></small>
      <small>{{ location.street + ', ' + location.zipCode + ' ' + location.city }}</small>
    </mat-option>
    <!-- the blue ones -->
    <mat-option class="location-option" *ngFor="let location of locationOptions"
                (onSelectionChange)="_locationSelected(location)"
                [value]="location.name">
      <small><strong>{{ location.name }}</strong></small>
      <small>{{ location.street + ', ' + location.zipCode + ' ' + location.city }}</small>
    </mat-option>
    <!-- the white ones -->
    <mat-option *ngFor="let option of (osmOptions)"
                (onSelectionChange)="_osmSelected(option)"
                [value]="option.street">
      <small class="flex flex-row">
        <img *ngIf="option.geocoder === 0" src="assets/osm.png" alt="osm" class="mr-1" style="height: 14px">
        <img *ngIf="option.geocoder === 1" src="assets/bing.png" alt="bing" class="mr-1" style="height: 14px">
        <strong>{{ option.street }}</strong></small>
      <small>{{ option.street + ', '}} <span
        [style.font-weight]="option.city === 'Bremen' ? 'normal' : 'bold'">{{option.zipCode + ' ' + option.city}}</span></small>
    </mat-option>
    <mat-option class="zone-option" *ngFor="let zone of (zoneOptions)"
                (onSelectionChange)="_zoneSelected(zone)"
                [value]="zone.name">
      <div class="flex flex-row justify-content-between align-items-center">
        <small><strong>{{zone.name}}</strong></small>
        <span style="font-family: monospace" class="mx-2">{{zone.area}}km²</span>
      </div>
    </mat-option>
    <!-- ladekreis -->
    <mat-option *ngIf="searching > 0" id="searchInputLoading" class="flex align-items-center justify-content-center">
      <div class="flex h-100 align-items-center justify-content-center">
        <mat-spinner class="position-absolute" [diameter]="20"></mat-spinner>
      </div>
    </mat-option>
    <mat-option *ngIf="selection && searching === 0 && searchJobs && jobOptions?.length === 0" class="flex align-items-center justify-content-center">
      <div class="flex h-100 align-items-center justify-content-center">
        <i>- keine aufträge gefunden -</i>
      </div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
