//$fex-red-light: #d4111b;
$fex-light: #8363b5;
//$fex-red-dark: #b9121b;
$fex-dark: #5c388e;
$accent: #5dc3c1;
$accent-light: #92e5e1;
$warn: #b9121b;
$fex-sparkling: #d82dff;
$link: #aa4baf;
$post-tour: #1a807b;
$flatrate-tour: #1a807b;

$lex: #fba000; // used for zone options also

$client-option: #d4111b;
$location-option: #3399ff;
$messenger-option: #6600ff;
$client-client-option: #222;

$billing: #84d002; // used for job options also

$client-tone: #4183C5;
$delivery-tone: #5c8b16;
$pickup-tone: #C04F4F;

$option-active: rgba(0, 0, 0, 0.14);
$option-hover: rgba(0, 0, 0, 0.22);

$gray: #BBB;
$light-gray: #efefef;
$undispatched: #d9ecff;

$spacer: 10px;


